.search-input {
    border-radius: 50px;
    border: none;
    background-color: transparent;
    outline: 0;
}
.fa-search{
    color: $cinza;
    padding-right: 0.4em;
    opacity: 0.4;
}
