.header-main{
	width: 100%;
	height: 500px;
	background-color: $preto;
	display: flex;
	justify-content: space-between;

	@include element(logo){
		color: $branco;
	}

	@include element(navigation){
		ul{
			li{
				a{color: $branco;}
			}
		}
	}
}
