//O QUE É STUDY
.what-is {
    padding: 2em;
    text-align: center;
    height: 400px;
    p{
       padding:2em 20%; 
    }
    h1{
         font-weight: bold;
    }

    .what-is__circles {
        display: flex;
        justify-content: space-between;
        padding: 2em;
        @include make-md-column(4);
        @include make-md-column-offset(4);

        @include element(circle) {
            width: 150px;
            width: 150px;
            height: 150px;
            background-color: $cinza;
            border-radius: 100%;
        }
    }
}
//VENHA FAZER PARTE
.join-us{
    height: 300px;
    background-color: $cinza;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-weight: bold;
    }
    h2,p{
        padding: 2em;
    }
}
//PORQUE UTILIZAR
.why-use{
    text-align: center;
    h1{
        padding: 2em;
        font-weight: bold;
    }
    .why-use__circles{
        display: flex;
        justify-content: center;
        margin:4em;
     
        @include element(circle--use){
            background-color:$cinza;
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }
    }
}
.about-app{
    background-color: $cinza;
//    height: 500px;
    h2{
        text-align:center;
        padding-top: 2em;
        font-weight: bold;
    }
    @include element(description){
        @include make-md-column(6);
        p{  
           margin-top:5em;
            margin-bottom: 5em;
        }
        a{
            text-align: center;
        }
        
    }
     @include element(image){
        @include make-md-column(6);
         img{
             margin-top: 4em;
             margin-left: 2em;
             width: 400px;
             height: 400px;
             background-color: grey;
         }
    }
    .link-flex{
        display: flex;
        justify-content: center;
    }
    
}